
csHaiku/Program.cs
csHaiku/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csHaiku/obj/Debug/DesignTimeResolveAssemblyReferences.cache
csHaiku/obj/Debug/csHaiku.pdb
csHaiku/obj/Debug/csHaiku.exe
csHaiku/obj/Debug/
csHaiku/obj/Debug/csHaiku.MainForm.resources
csHaiku/obj/Debug/csHaiku.csprojResolveAssemblyReference.cache
csHaiku/obj/Debug/csHaiku.csprojAssemblyReference.cache
csHaiku/obj/Debug/csHaiku.csproj.GenerateResource.cache
csHaiku/obj/Debug/csHaiku.csproj.FileListAbsolute.txt
csHaiku/obj/Debug/csHaiku.csproj.CoreCompileInputs.cache
csHaiku/obj/Debug/csHaiku.csproj.AssemblyReference.cache
csHaiku/obj/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
csHaiku/bin/Debug/csHaiku.pdb
csHaiku/MainForm.resx
csHaiku/Properties/AssemblyInfo.cs
csHaiku/csHaiku.csproj
csHaiku/bin/Debug/New Text Document.txt
csHaiku.sln
